---
layout: default
title: Home
---
<!-- ========== About ========== -->
<div class="docs-section" id="about">
  <h4>About</h4>
  <p>
    Welcome! I'm applied research scientist at Kakao Brain, working on various machine learning models for real-world applications.
    My interest lies in building robust machine learning (ML) system excel in practical environments.
  </p>
  <p>
    One of the key challenges in real-world ML systems is dealing with out-of-distribution data.
    My research interests lie in addressing this out-of-distribution problem, regardless of the specific domain.
    Specifically, I have worked on few-shot adaptation [<a href="https://arxiv.org/abs/2005.10510">DMFont</a>, <a href="https://arxiv.org/abs/2009.11042">LFFont</a>, <a href="https://arxiv.org/abs/2104.00887">MXFont</a>],
    out-of-domain generalization [<a href="https://arxiv.org/abs/2102.08604">SWAD</a>, <a href="https://arxiv.org/abs/2203.10789">MIRO</a>],
    and open-world machine learning [<a href="https://arxiv.org/abs/2212.00785">TCL</a>].
  </p>
  <p>
    I am also passionate about engineering and strive to write readable, well-structured, and optimized code to develop sustainable and scalable systems.
    I have actively contributed to various product-oriented projects from both modeling and engineering perspectives.
    <!-- such as AI Go [<a href="/index.html#projects">Handol</a>], handwritten font generation [<a href="/index.html#projects">HFG</a>], OCR [<a href="/index.html#projects">STR</a>], and explainable AI [<a href="/index.html#projects">XAI</a>]. -->
  </p>
</div>


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
  * indicates equal contribution.
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% include papers-pane.html papers=selected_papers %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% include papers-pane.html papers=site.data.publications.papers %}
    </div>
  </div>
</div>

<!-- ========== PROJECTS ==========  -->
<div class="docs-section" id="projects">
  <h4>Projects</h4>

  <p>
    Product-oriented and non-published projects. <br/>
    Published academic projects are not included here.
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>
    <li><div class="button" data-ref="#projects-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% include projects-pane.html projects=selected_projects %}
    </div>
    <div class="tab-pane" id="projects-all">
      {% include projects-pane.html projects=site.data.projects.projects %}
    </div>
  </div>
</div>


<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>

  <p>Full Resume in <a href={{ "/assets/cv/cv_web.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p>

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
